<footer class="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="footer-top__item footer-contacts col-md-4">
					<div class="footer-contacts__logo">
						<a href="#" class="logo__link">Modus <span class="logo__text">versus</span></a>
					</div>
					<p class="footer-contacts__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec.</p>
					
					<div class="footer-contacts__phone-and-email phone-and-email">
						<div class="phone-and-email__item">
							<span class="phone-and-email__title">Phone:</span>
							<span class="phone-and-email__number">182 2569 5896</span>
						</div>
						<div class="phone-and-email__item">
							<span class="phone-and-email__title">e-mail:</span>
							<span class="phone-and-email__number">info@modu.versus</span>
						</div>
					</div>

				</div>
				<div class="footer-top__item footer-menu col-md-4 row">
					<div class="footer-menu__item col-md-6">
						<h3 class="footer-menu__title">Company</h3>
						<ul class="footer-menu__list">
							<li class="footer-menu__list-items"><a href="#" class="footer-menu__list-link"><i class="fa fa-angle-right" aria-hidden="true"></i> About</a></li>
							<li class="footer-menu__list-items"><a href="#" class="footer-menu__list-link"><i class="fa fa-angle-right" aria-hidden="true"></i> FAQ</a></li>
							<li class="footer-menu__list-items"><a href="#" class="footer-menu__list-link"><i class="fa fa-angle-right" aria-hidden="true"></i> Contact</a></li>
							<li class="footer-menu__list-items"><a href="#" class="footer-menu__list-link"><i class="fa fa-angle-right" aria-hidden="true"></i> Terms</a></li>
							<li class="footer-menu__list-items"><a href="#" class="footer-menu__list-link"><i class="fa fa-angle-right" aria-hidden="true"></i> Privacy</a></li>
							<li class="footer-menu__list-items"><a href="#" class="footer-menu__list-link"><i class="fa fa-angle-right" aria-hidden="true"></i> Testimonials</a></li>
						</ul>
					</div>
					<div class="footer-menu__item col-md-6">
						<h3 class="footer-menu__title">Community</h3>
						<ul class="footer-menu__list">
							<li class="footer-menu__list-items"><a href="#" class="footer-menu__list-link"><i class="fa fa-angle-right" aria-hidden="true"></i> Blog</a></li>
							<li class="footer-menu__list-items"><a href="#" class="footer-menu__list-link"><i class="fa fa-angle-right" aria-hidden="true"></i> Forum</a></li>
							<li class="footer-menu__list-items"><a href="#" class="footer-menu__list-link"><i class="fa fa-angle-right" aria-hidden="true"></i> Support</a></li>
							<li class="footer-menu__list-items"><a href="#" class="footer-menu__list-link"><i class="fa fa-angle-right" aria-hidden="true"></i> Newsletter</a></li>
						</ul>
					</div>
				</div>
				<div class="footer-top__item footer-blog col-md-4">
					<div class="footer-blog__title"><span class="footer-blog__title_italic">from the </span>BLOG</div>

					<div class="footer-blog__item">
						<div class="footer-blog__image"><img src="" alt=""></div>
						<div class="footer-blog__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
						<div class="footer-blog__date">26 May, 2013</div>
					</div>

					<div class="footer-blog__item">
						<div class="footer-blog__image"><img src="" alt=""></div>
						<div class="footer-blog__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit</div>
						<div class="footer-blog__date">26 May, 2013</div>
					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="footer-bottom">
		<div class="container">
			<div class="footer-bottom__item copyright">2013  ModusVersus</div>
			<div class="footer-bottom__item social">
				<div class="social__item fb"></div>
				<div class="social__item gp"></div>
				<div class="social__item tw"></div>
				<div class="social__item rs"></div>
			</div>
		</div>
	</div>
</footer>