// COLORS

$colorLightBlack: #3b6360;
$colorBlack: black;
$colorWhite: white;
$colorLightGreen: #76c7c0;
$colorGreen: #62b9b0;
$colorDarkGreen: #528b86;
$colorLightRed: #e8645a;
$colorRed: #e2534b;
$colorLightGray: #b0b8b9;
$colorGray: #7f8c8c;
$colorDarkGRay: #777;

// TEXT COLORS
$openSansLight: 'OpenSansLight';
$openSansRegular: 'OpenSansRegular'; 
$openSansSemibold: 'OpenSansSemibold';
$openSansBold: 'OpenSansBold';
$openSansItalic: 'OpenSansItalic';
$colorTextRed: #e1524b;
$mainFontSize: 13px;
$light: 300;
$normal: 400;
$medium: 600;
$bold: 700;


