@import 'variables';
@import 'mixins/mixins';
@import 'normalize';
@import 'bourbon/bourbon';
@import 'parts/header';
@import 'parts/footer';


body {
	font-family: $openSansRegular, sans-serif;
	font-size: $mainFontSize;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

a {
	&:link {
		text-decoration: none;
	}

	&:visited {
		text-decoration: none;
	}

	&:hover {
		text-decoration: none;
		color: $colorWhite;
	}

	&:hover {
		text-decoration: none;
	}
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;
}
// h1 {
// 	@include transparent-text(black, 0.5);
// 	@include transparent-bg (100px, 100px, 0.8, yellow, 10px);
// }


